#loading {
  text-align: center;
  color: var(--text-sub);
  font-size: 1.2em;
  margin-top: 40px;
  grid-column: 1 / -1;
}


/* 錯誤提示樣式 */
.text-error {
  color: #dc2626;
  font-weight: bold;
}

.material-symbols-outlined {
  vertical-align: middle;
  font-size: 1.2em; /* Default size, can be overridden */
}